.fav__wrapper {
  padding-bottom: 60px;
}
.setion-fav-cocktails {
  min-height: 80vh;
}
.favorite__coctails--text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.9;
  color: inherit;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(tablet) {
    font-size: 32px;
    line-height: 1.3;
  }

  @include mq(laptop) {
    font-size: 48px;
    line-height: 1.5;
  }
}

.favorite__coctails--name {
  font-size: 26px;
  line-height: 1.6;
  text-align: center;

  margin-top: 19px;
  margin-bottom: 27px;

  @include mq(tablet) {
    font-size: 32px;
    line-height: 1.3;
  }
}

.favorite__coctails--img {
  display: block;
  width: 100%;
  height: auto;
}

.favorite__coctails {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  justify-content: center;

  @include mq(phone) {
    gap: 20px;
  }

  @include mq(tablet) {
    gap: 31px;
  }
}

.favorite__coctails--block {
  border: solid 1px fnColor(primary);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include mq(phone) {
    width: 280px;
  }

  @include mq(tablet) {
    width: 335px;
  }

  @include mq(laptop) {
    width: 395px;
  }
}

.favorite__coctails--btn {
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite__btn__learnMore {
  width: 108px;
  height: 39px;
  font-size: 14px;
  line-height: 1.7;

  background: fnColor(secondory);
  border: none;
  border-radius: 4px;
  color: fnColor(text-white);

  @include mq(tablet) {
    width: 160px;
    height: 48px;
    font-size: 20px;
    line-height: 1.2;
  }

  @include mq(laptop) {
    width: 182px;
    height: 48px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.btn__text {
  margin-left: 16px;

  @include mq(tablet) {
    margin-left: 10px;
  }

  @include mq(laptop) {
    margin-left: 18px;
  }
}

.btn__remove {
  display: block;
  text-align: left;
  padding: 0;
  width: 110px;
  height: 39px;
  font-size: 14px;
  line-height: 1.7;
  margin-left: 20px;
  border: solid 1px fnColor(primary);
  border-radius: 4px;
  color: fnColor(primary);
  background: #fcfcfc;
  background-image: url('../images/heart1.png');
  background-repeat: no-repeat;
  background-position: 74px 10px;

  @include mq(tablet) {
    width: 123px;
    height: 48px;
    font-size: 20px;
    line-height: 1.2;
    margin-left: 20px;
    background-position: 88px 13px;
  }

  @include mq(laptop) {
    width: 142px;
    margin-left: 16px;
    background-position: 100px 14px;
  }
}

.black__theme--btn {
  display: block;
  text-align: left;
  padding: 0;
  background: fnColor(text-black);
  color: fnColor(primary);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;

  background-image: url('../images/heart1.png');
  background-repeat: no-repeat;
  background-position: 74px 10px;

  width: 110px;
  height: 39px;
  font-size: 14px;
  line-height: 1.7;
  margin-left: 20px;
  border: solid 1px fnColor(primary);
  border-radius: 4px;

  @include mq(tablet) {
    width: 123px;
    height: 48px;
    font-size: 20px;
    line-height: 1.2;
    margin-left: 20px;
    background-position: 88px 13px;
  }

  @include mq(laptop) {
    width: 142px;
    margin-left: 16px;
    background-position: 100px 14px;
  }
}

.favorite__coctails--block--black {
  border: solid 1px fnColor(primary);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  background: fnColor(text-black);

  @include mq(phone) {
    width: 280px;
  }

  @include mq(tablet) {
    width: 335px;
  }

  @include mq(laptop) {
    width: 395px;
  }
}

.black__theme--text {
  color: fnColor(text-white);
  font-size: 26px;
  line-height: 1.6;

  line-height: 1.2;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 27px;

  @include mq(tablet) {
    font-size: 32px;
    line-height: 1.3;
  }
}
