.fav-ing {
  min-height: 80vh;
}

.f-ing_title {
  @include typography(fnTextWeight(semibold), fnTextSize(babig), fnTextLineHeight(great));
  text-align: center;

  // font-style: normal;
  // font-weight: 600;
  // font-size: 22px;
  // line-height: 1.62;

  color: inherit;

  margin-top: 30px;
  padding: 0;
  margin-bottom: 0;

  @include mq(tablet) {
    @include typography(fnTextWeight(bolt), fnTextSize(great), fnTextLineHeight(med));
    // font-weight: 700;
    // font-size: 32px;
    // line-height: 1.19;
  }

  @include mq(laptop) {
    @include typography(fnTextWeight(semibold), fnTextSize(larg), fnTextLineHeight(smal));
    // font-size: 48px;
    // line-height: 1.15;

    margin-top: 96px;
  }
}

.f-ing_blocks {
  @include flex-center();
  margin-top: 60px;
  min-width: 100%;
  padding-bottom: 60px;

  // display: flex;
  flex-wrap: wrap;
  // align-items: center;
  // justify-content: center;
  gap: 20px;

  @include mq(tablet) {
    margin-top: 78px;
    gap: 32px;
    align-items: unset;
    justify-content: unset;
    padding-bottom: 140px;
  }

  @include mq(laptop) {
    margin-top: 40px;
  }
}

.f-ing_items {
   @include size(280px, 177px);
  // width: 280px;
  // height: 177px;
  border: 1px solid fnColor(primary);
  // border: 1px solid #fd5103;
  border-radius: 4px;

  padding: 20px;
  margin: 0;

  @include mq(tablet) {
    @include size(336px, 205px);
    padding: 20px 35px 28px 20px;

    // width: 336px;
    // height: 205px;
  }

  @include mq(laptop) {
    @include size(394px, 221px);
    // width: 394px;
    // height: 221px;
    padding: 30px 28px;
  }
}

.f-ing_item__wrapper {
  display: flex;
  justify-content: space-between;
}
.f-ing-indicator {
  align-self: center;
  color: fnColor(primary);
}
.f-ing_subtitle {
  @include typography(fnTextWeight(blak), fnTextSize(big), fnTextLineHeight(babig));
  font-family: fnTextFont(secondory);
  // font-style: normal;
  // font-weight: 900;
  // font-size: 26px;
  // line-height: 1.32;

  color: inherit;

  padding-bottom: 20px;
  margin: 0;
  padding-top: 0;

  @include mq(tablet) {
    font-size: 28px;
    line-height: 1.18;
  }

  @include mq(laptop) {
    font-size: 32px;
    line-height: 1.19;
  }
}

.f-ing_text {
    @include typography(fnTextWeight(semibold), fnTextSize(smal), fnTextLineHeight(big));
  // font-weight: 600;
  // font-size: 14px;
  // line-height: 1.5;

  text-transform: uppercase;
  color: fnColor(text-gray);

  padding-bottom: 20px;
  margin: 0;
  padding-top: 0;

  @include mq(tablet) {
    font-size: 16px;
    line-height: 1.45;
  }
}

.f-ing_btn {
  @include flex-center();
  // display: flex;
  // align-items: center;
  // justify-content: center;
  list-style: none;
  margin: 0;
  gap: 20px;

  padding: 0;
  line-height: 0;

  @include mq(tablet) {
    gap: 12px;
  }

  @include mq(laptop) {
    gap: 16px;
  }
}

.f-ing_btn-add {
  @include typography(fnTextWeight(regular), fnTextSize(smal), fnTextLineHeight(great));
  padding: 0;
  margin: 0;
  @include size(108px, 39px);
  // width: 108px;
  // height: 39px;
  border: none;
  background: fnColor(primary);
  border-radius: 4px;

  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  font-family: fnTextFont(secondory);
  
  // font-family: 'Roboto';
  // font-style: normal;
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.71;
  text-align: center;
  // letter-spacing: 0.02em;

  &:hover,
  &:focus {
    background-color: fnColor(text-white);
    color: fnColor(primary);
    border: 1px solid  fnColor(primary);
  }

  color: fnColor(text-white);

  @include mq(tablet) {
    width: 160px;
    height: 48px;

    font-size: 20px;
    line-height: 1.2;
  }

  @include mq(laptop) {
    width: 182px;
  }
}

.f-ing_btn-rem {
 
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;

  padding: 0 30px 0 0;
  width: 110px;
  height: 39px;
  background: transparent;
  background-image: url('../images/heart1.png');
  background-repeat: no-repeat;
  background-position: 74px 10px;
  background-size: 18px 16px;
  border: 1px solid fnColor(primary);
  border-radius: 4px;

   @include flex-center();
  // align-items: center;
  // justify-content: center;
  // display: flex;

  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  &:hover,
  &:focus {
    background-image: url('../images/heart2.png');
    background-color: fnColor(text-black);
    outline: none;
  }

  @include typography(fnTextWeight(regular), fnTextSize(smal), fnTextLineHeight(great));
  font-family: fnTextFont(secondory);
  // font-family: 'Roboto';
  // font-style: normal;
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.71;
  letter-spacing: 0.02em;
  color: fnColor(primary);
  gap: 5px;

  @include mq(tablet) {
    width: 123px;
    height: 48px;

    font-size: 20px;
    line-height: 1.2;
    background-position: 88px 13px;
    background-size: 20px 18px;
    font-size: 20px;
    line-height: 1.2;
  }

  @include mq(laptop) {
    width: 141px;
    background-position: 100px 14px;
  }
}
