body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;

  &.light-theme {
    @include theme(light);
  }

  &.dark-theme {
    @include theme(dark);
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1280px;
  width: 100%;

  @include mq(tablet) {
    @include mq(laptop, max) {
      padding: 0 33px;
    }
  }

  // @media (min-width: 768px) and (max-width: 1279px) {
  //   padding: 0 33px;
  // }

  @include mq(laptop) {
    padding: 0 15px;
  }

  // @media screen and (min-width: 1280px) {
  //   padding: 0 15px;
  // }
}
