.search-form {
  @media screen and (max-width: 767px) {
    margin-bottom: 25px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.4s, transform 0.4s ease-in-out;
  }

  @media screen and (min-width: 1024px) {
    margin-right: 20px;
  }

  &__input {
    padding: 0 10px 0 50px;
    width: 280px;
    height: 40px;
    background-color: inherit;
    border: 1px solid #fd5103;
    border-radius: 4px;

    body.dark-theme & {
      color: #fff;
    }
  }

  &__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: #5f6775;
    opacity: 0.4;
  }

  &__field {
    position: relative;
  }

  &__btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    border: 1px solid #fd5103;
    border-radius: 4px 0 0 4px;
    background-color: transparent;
    cursor: pointer;
  }

  &__icon {
    background-image: url('../images/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
