.nav {
  @media (min-width: 768px) and (max-width: 1023px) {
    body.light-theme & {
      background: #fff;
    }

    body.dark-theme & {
      background: #202025;
    }

    display: flex;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 55px;
    z-index: 210;
    overflow-y: auto;
    padding: 33px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.4s, transform 0.4s ease-in-out;
  }

  &__list {
    @media screen and (min-width: 1024px) {
      display: flex;
    }
  }

  &__item,
  &__subitem {
    position: relative;
    width: 100%;
    cursor: pointer;
  }

  &__item:not(:last-child) {
    @media screen and (min-width: 1024px) {
      margin-right: 60px;
    }
  }

  &__item:hover &__sublist,
  &__item:focus-within &__sublist {
    transform: none;
    opacity: 1;

    @media screen and (max-width: 1023px) {
      width: 210px;
      height: 96px;
    }

    @media screen and (min-width: 1024px) {
      width: 210px;
      height: 84px;
      transform: none;
      opacity: 1;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    width: 100%;

    @media screen and (max-width: 1023px) {
      padding: 15px 0;
    }

    @media screen and (min-width: 1024px) {
      padding: 15px 0;
    }
  }

  &__link:hover,
  &__link:focus {
    color: #fd5103;
  }
}

.nav__sublist {
  @media screen and (max-width: 1023px) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    border-radius: 4px;
    transform: translateY(-10%);
    transition: opacity 0.4s, transform 0.4s ease-in-out;
  }

  @media screen and (min-width: 1024px) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(-10%);
    transition: opacity 0.4s, transform 0.4s ease-in-out;
  }

  body.light-theme & {
    outline: 1px solid #fd5103;
  }

  body.dark-theme & {
    outline: 1px solid #fff;
  }
}

.nav__sublink {
  position: relative;
  display: inline-block;
  width: 100%;

  @media screen and (max-width: 1023px) {
    padding: 15px 10px;
  }

  @media screen and (min-width: 1024px) {
    padding: 12px;
  }

  body.light-theme &:hover {
    color: #fff;
    background-color: #fd5103;
  }

  body.dark-theme &:hover {
    color: #000;
    background-color: #fd5103;
  }
}

.nav__link-line {
  @media screen and (max-width: 1023px) {
    position: absolute;
    left: 65px;
    bottom: 47%;
    width: 10px;
    height: 2px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 20%;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: #000;
    }

    &::before {
      left: -30%;
      transform: rotate(45deg);
    }

    &::after {
      left: 30%;
      transform: rotate(-45deg);
    }

    .nav__link:hover &::after,
    .nav__link:hover &::before,
    .nav__link:focus &::after,
    .nav__link:focus &::before {
      background-color: #fd5103;
    }
  }
}
