@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Roboto:wght@400;700;900&display=swap');

$text-fonts: (
  'primary': 'Poppins',
  'secondory': 'Roboto',
);

$text-weights: (
  'black': 900,
  'bold': 700,
  'semibold': 600,
  'medium': 500,
  'regular': 400,
);

$text-sizes: (
  'extrabig': 52px,
  'larg': 48px,
  'great': 32px,
  'goodly': 28px,
  'big': 26px,
  'babig': 22px,
  'norm': 18px,
  'med': 16px,
  'smal': 14px,
);

$text-line-heights: (
  'extrabig': 2,
  'larg': 1.91,
  'great': 1.62,
  'goodly': 1.54,
  'big': 1.5,
  'babig': 1.33,
  'norm': 1.31,
  'med': 1.19,
  'smal': 1.18,
  'little': 0.86,
);

$colors: (
  'bg-body': #fcfcfc,
  'primary': #fd5103,
  'secondory': #fe7031,
  'text-black': #202025,
  'text-gray': #5f6775,
  'text-white': #f5f5f5,
  'burger-line': #000,
);

$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'laptop': 1280px,
);

$z-indexes: (
  'nav': 210,
  'dropdown': 4000,
  'default': 1,
  'below': -1,
);
