<section class="section-gallery">
  <div class="container">
    <h2 class="gallery__title">Cocktails</h2>
    <ul class="gallery__cards"></ul>
    <div class="sorry-card visually-hidden" data-sorry>
      <h2 class="sorry__title">Sorry, we didn't find any cocktail for you</h2>
      <picture>
        <source
          srcset="./images/frame-des.png 1x, ./images/frame-des@2x.png 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="./images/frame-des.png 1x, ./images/frame-des@2x.png 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="./images/frame-mob.png 1x, ./images/frame-mob@2x.png 2x"
          media="(min-width:320px)"
        />
        <img
          class="sorry__img"
          src="./images/frame-mob.png"
          alt="apologise card"
        />
      </picture>
    </div>
  </div>
</section>
