.burger {
  @include position($position: relative);
  @include size(30px, 16px);

  display: none;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;

  @include mq(laptop, max) {
    display: block;
  }

  &__line {
    body.light-theme & {
      @include theme(dark);
    }

    body.dark-theme & {
      @include theme(light);
    }

    @include position($top: 50%, $left: 0);
    @include size(100%, 2px);

    border-radius: 1px;
    transform: translateY(-50%);
    @include transition(opacity);
  }

  &::before,
  &::after {
    body.light-theme & {
      @include theme(dark);
    }

    body.dark-theme & {
      @include theme(light);
    }

    content: '';
    @include position($left: 0);
    @include size(100%, 2px);
    border-radius: 1px;
    background-color: fnColor(burger-line);
    @include transition(transform, top, bottom);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.burger-active {
  & .burger__line {
    opacity: 0;
  }

  &::before {
    top: 50%;
    transform: rotate(135deg);
  }

  &::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-135deg);
  }
}
