.logo {
  @include photo('../images/logo.png');
  min-width: 156px;
  min-height: 43px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @include photo('../images/logo@2x.png');
  }

  @include mq(tablet, max) {
    @include transition(opacity, transform);
    min-width: 125px;
    min-height: 35px;
    opacity: 0;
    transform: translateY(-100%);
  }

  @include mq(tablet) {
    @include mq(laptop, max) {
      margin-right: 190px;
    }
  }

  @include mq(laptop) {
    margin-right: 43px;
  }
}
