.search-form {
  @include mq(tablet, max) {
    margin-bottom: 25px;
  }

  @include mq(tablet) {
    @include mq(laptop, max) {
      opacity: 0;
      transform: translateY(-100%);
      @include transition(opacity, transform);
    }
  }

  @include mq(laptop) {
    margin-right: 20px;
  }

  &__input {
    @include size(280px, 40px);

    padding: 0 10px 0 50px;

    background-color: inherit;
    border: 1px solid fnColor(primary);
    border-radius: 4px;
    outline: none;

    body.dark-theme & {
      color: fnColor(text-white);
    }

    @include placeholder {
      @include typography(
        fnTextWeight(regular),
        fnTextSize(smal),
        fnTextLineHeight(larg)
      );

      color: fnColor(text-gray);
      opacity: 0.4;
    }
  }

  &__field {
    position: relative;

    &::after {
      content: '';
      @include position($top: 50%, $left: 100px);
      @include size(20px, 1px);

      opacity: 0.4;
      border-radius: 2px;
      background-color: fnColor(text-gray);
      transform: rotate(90deg);
    }
  }

  &__btn {
    @include position($top: 0, $left: 0);
    @include size(40px);

    margin: 0;
    padding: 0;

    border-right: 1px solid fnColor(primary);
    border-radius: 4px 0 0 4px;
    background-color: transparent;
    cursor: pointer;
    @include flex-center();
  }

  &__icon {
    @include photo('../images/search.svg');
  }
}
