.theme-switch {
  @include flex-center();

  justify-content: space-between;
  @include size(148px, 24px);

  @include mq(tablet, max) {
    @include position($top: 30%, $left: 20px);
    @include transition(opacity, transform);
    opacity: 0;
    transform: translateY(-100%);
  }

  @include mq(tablet) {
    @include mq(laptop, max) {
      @include position($top: 40%, $left: 220px);
      @include transition(opacity, transform);
      opacity: 0;
      transform: translateY(-100%);
    }
  }

  @include mq(laptop) {
    margin-right: 20px;
  }

  &__label {
    @include typography();
  }

  &__control {
    @include position($position: relative);
    @include size(40px, 16px);

    display: flex;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid fnColor(primary);
    border-radius: 20px;
    padding: 2px 0;
    margin: 0 5px;
  }

  &__toggle {
    @include position($top: 0, $left: 0);
    @include size(0);

    margin: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
  }

  &__track {
    @include position($top: 0, $left: 0, $z-index: fnZ(theme-track));
    @include size(100%);
    color: transparent;
    user-select: none;
    background-color: fnColor(bg-body);
    border-radius: inherit;
    cursor: pointer;
  }

  &__marker {
    @include position($position: relative);
    @include size(12px);
    @include transition(transform);

    background-color: fnColor(primary);
    border-radius: 50%;
    z-index: fnZ(theme-marker);
    pointer-events: none;
    transform: translateX(2px);
  }

  &__toggle:checked + &__track {
    background-color: fnColor(text-black);
  }

  &__toggle:checked ~ &__marker {
    @include size(11px);

    background-color: fnColor(bg-body);
    transform: translateX(24px);
  }
}

.theme-switch-active {
  color: fnColor(primary);
}
