.section-gallery {
  @include position($position: relative);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  min-height: 320px;

  @include mq(phone) {
    @include size(480px, 100%);
  }

  @include mq(tablet) {
    @include size(768px, 100%);

    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include mq(laptop) {
    @include size(1280px, 100%);

    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.gallery__cards {
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @include mq(tablet) {
    gap: 30px;
  }
}

.gallery__title {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
  text-align: center;
  color: inherit;

  @include mq(phone) {
    font-size: 27px;
  }

  @include mq(tablet) {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.31;
  }

  @include mq(laptop) {
    font-size: 48px;
    line-height: 1.5;
  }
}

.gallery__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #fd5103;
  border-radius: 14px;
  transition-property: scale(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.05);
  }

  @include mq(phone) {
    width: 300px;
  }

  @include mq(tablet) {
    width: 335px;
  }

  @include mq(laptop) {
    width: 395px;
  }
}

.gallery__card_thumb {
  padding-top: 48px;
  padding-bottom: 24px;

  @include mq(tablet) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include mq(laptop) {
    padding-bottom: 30px;
  }
}

.gallery__card-img {
  display: block;
  width: 100%;
  border-radius: 14px;
}

.gallery__card-name {
  margin-bottom: 16px;
  margin-top: 0;
  padding: 0;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  color: inherit;

  @include mq(tablet) {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 33px;
  }

  @include mq(laptop) {
    font-size: 32px;
    line-height: 38px;
  }
}

.btn__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__btn-load-more {
  padding: 0;
  width: 108px;
  height: 39px;

  margin-right: 10px;
  border: none;
  background: #fe7031;
  border-radius: 4px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;

  transition-property: background-color color border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: transparent;
    border: 1px solid #fd5103;
    border-radius: 4px;
    color: #fd5103;
  }

  @include mq(tablet) {
    width: 160px;
    height: 48px;
    margin-right: 10px;

    font-size: 20px;
    line-height: 1.2;
  }

  @include mq(laptop) {
    width: 182px;
    margin-right: 16px;
  }
}

.gallery__btn-add-to-fav {
  margin: 0;
  display: block;
  text-align: center;

  padding: 0 30px 0 0;
  width: 110px;
  height: 39px;
  background: transparent;
  background-image: url('../images/heart0.png');
  background-repeat: no-repeat;
  background-position: 74px 10px;
  background-size: 18px 16px;
  border: 1px solid #fd5103;
  border-radius: 4px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #fd5103;

  transition-property: background-color background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-image: url('../images/heart2.png');
    background-color: #fd520317;
  }

  @include mq(tablet) {
    width: 123px;
    height: 48px;
    background-position: 88px 13px;
    background-size: 20px 18px;
    font-size: 20px;
    line-height: 1.2;
  }

  @include mq(laptop) {
    width: 141px;
    background-position: 100px 14px;
  }
}

.btn__svg-fav {
  background-image: url('../images/heart2.png');
  background-color: #fd520317;
}

// ======= PRELOADER =======

.loader {
  --s: 40px; /* control the size */
  --b: 18px; /* control the border thickness */
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  aspect-ratio: 4;
  display: grid;
}
.loader::before,
.loader::after {
  content: '';
  grid-area: 1/1;
  background: linear-gradient(#fd5103 50%, #8d1f00 0) no-repeat,
    linear-gradient(#fd5103 50%, #8d1f00 0) no-repeat;
  background-size: 50% 200%;
  --_g: calc(-0.45 * var(--s)), #0000 calc(99% - var(--b)),
    #000 calc(101% - var(--b)) 99%, #0000 101%;
  --_s: calc(4 * var(--s)) var(--s) repeat-x;
  --_r: calc(1.096 * var(--s) + var(--b) / 2);
  mask: radial-gradient(var(--_r) at left 50% bottom var(--_g))
      calc(50% - 2 * var(--s)) calc(50% - var(--s) / 2) / var(--_s),
    radial-gradient(var(--_r) at left 50% top var(--_g)) 50%
      calc(50% + var(--s) / 2) / var(--_s);
  animation: back 6s infinite steps(1), load 1.5s infinite linear alternate;
}
.loader::after {
  transform: scaleY(-1);
  animation-delay: -1.5s;
}

@keyframes load {
  0% {
    clip-path: inset(0 75% 0 0);
  }
  to {
    clip-path: inset(0 0 0 75%);
  }
}
@keyframes back {
  0%,
  100% {
    background-position: 0% 0%, 100% 0%;
  }
  25% {
    background-position: 0% 100%, 100% 0%;
  }
  50% {
    background-position: 0% 100%, 100% 100%;
  }
  75% {
    background-position: 0% 0%, 100% 100%;
  }
}

.sorry__title {
  margin-bottom: 63px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
  text-align: center;
  color: inherit;

  @include mq(phone) {
    font-size: 27px;
  }

  @include mq(tablet) {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.31;
    margin-bottom: 62px;
  }

  @include mq(laptop) {
    font-size: 48px;
    line-height: 1.5;
    margin-bottom: 70px;
    padding-top: 58px;
  }
}

.sorry__img {
  max-width: 345px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 48px;

  @include mq(tablet) {
    padding-bottom: 0;
  }

  @include mq(laptop) {
    padding-bottom: 28px;
  }
}
