.page-header {
  @include position($position: fixed, $top: 0, $left: 0, $z-index: fnZ(header));
  @include size(100%, 55px);

  overflow: hidden;

  body.light-theme & {
    background: fnColor(bg-body);
  }

  body.dark-theme & {
    background: fnColor(text-black);
  }

  @include mq(tablet) {
    @include mq(laptop, max) {
      height: 65px;
    }
  }

  @include mq(laptop) {
    overflow: visible;
    height: 60px;
  }

  &__container {
    @include flex-center();
    @include size(100%);

    justify-content: space-between;
  }

  &__box {
    body.light-theme & {
      @include theme(light);
    }

    body.dark-theme & {
      @include theme(dark);
    }

    @include mq(tablet, max) {
      @include position(
        $position: fixed,
        $top: 55px,
        $right: 0,
        $z-index: fnZ(header-box)
      );

      @include size(100%);
      @include transition(opacity, transform);

      overflow-y: auto;
      padding: 20px;

      opacity: 0;
      transform: translateX(100%);
    }

    @include mq(laptop) {
      margin-right: auto;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: row-reverse;
      width: 735px;
    }
  }
}

.visible {
  @include mq(laptop, max) {
    transform: none;
    opacity: 1;
  }
}

.stop-scroll,
.disable-scroll {
  overflow: hidden;
}
