.hero {
  padding: 20px 0;
  @include mq(tablet) {
    height: 500px;
    padding: 30px 0 40px 0;
  }

  @include mq(laptop) {
    height: 600px;
  }
}

.hero__container {
  @include mq(tablet, max) {
    @include flex-center();

    flex-wrap: wrap;
    flex-direction: column;
  }
}

.hero__title {
  @include position($position: relative);
  @include typography(
    fnTextWeight(semibold),
    fnTextSize(babig),
    fnTextLineHeight(larg)
  );

  width: 300px;
  margin-bottom: 28px;
  color: fnColor(secondory);

  @include mq(tablet) {
    width: 345px;
    font-size: 26px;
    line-height: 1.6;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  @include mq(laptop) {
    font-size: 52px;
    line-height: 1.53;
    width: 688px;
  }
}

.hero__picture {
  @include position($position: relative);
  margin: 0;
}

.hero__img {
  min-width: 300px;

  @include mq(tablet) {
    @include position($top: -175px, $left: 378px);
    min-width: 336px;
  }

  @include mq(laptop) {
    @include position($top: -270px, $left: 750px);
    min-width: 501px;
  }
}

.hero__text {
  @include typography(
    fnTextWeight(medium),
    fnTextSize(smal),
    fnTextLineHeight(extrabig)
  );

  margin-top: 28px;
  margin-bottom: 20px;
  opacity: 0.8;
  text-align: center;
  color: fnColor(text-black);
  width: 280px;

  @include mq(tablet) {
    width: 300px;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: start;
    color: fnColor(text-black);
  }

  @include mq(laptop) {
    width: 350px;
    font-size: 18px;
    line-height: 1.55;
  }
}

.hero__list {
  display: none;

  @include mq(tablet) {
    @include flex-center();

    flex-wrap: wrap;
    width: 325px;
  }

  @include mq(laptop) {
    width: 550px;
  }
}

.hero__item {
  &:not(:last-child) {
    margin-right: 1px;
  }
}

.hero__btn {
  @include flex-center();
  @include typography(
    fnTextWeight(bolt),
    fnTextSize(smal),
    fnTextLineHeight(big)
  );
  border: 0;
  margin: 0;
  background-color: transparent;
  padding: 0;
  width: 24px;

  color: fnColor(text-gray);
  text-align: center;

  &:hover,
  &:focus {
    color: fnColor(secondory);
  }

  @media screen and(min-width: 768px) {
    transform: scale(1);
    @include transition(text-shadow, transform);

    &:hover,
    &:focus {
      text-shadow: 0px 3px 5px rgba(95, 103, 117, 0.675);
      -webkit-text-stroke-width: 1.1px;
      -webkit-text-stroke-color: fnColor(text-gray);
      -webkit-text-fill-color: fnColor(primary);
      transform: scale(1.1);
    }
  }

  @media screen and(min-width: 1280px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    width: 40px;
    transform: scale(1);
    @include transition(text-shadow, transform);

    &:hover,
    &:focus {
      text-shadow: 0px 4px 7px rgba(95, 103, 117, 0.675);
      -webkit-text-stroke-width: 1.6px;
      -webkit-text-stroke-color: fnColor(text-gray);
      -webkit-text-fill-color: fnColor(primary);
      transform: scale(1.5);
    }
  }
}

.datalist__input {
  body.light-theme & {
    background: fnColor(bg-body);
  }

  body.dark-theme & {
    background: fnColor(text-black);
  }

  @include flex-center();
  @include typography(
    fnTextWeight(bolt),
    fnTextSize(med),
    fnTextLineHeight(babig)
  );

  padding: 6px 10px;
  height: 34px;
  width: 93px;
  border: 1px solid fnColor(secondory);
  color: fnColor(secondory);
  outline: none;
  border-radius: 4px;
  margin: 0 auto;
}

datalist {
  @include size(93px, 84px);

  border: 1px solid fnColor(secondory);
  border-radius: 4px;
  overflow-y: scroll;
  padding: 6px 10px;
}

.datalist__content {
  @include flex-center();
}

option {
  @include typography(
    fnTextWeight(bolt),
    fnTextSize(smal),
    fnTextLineHeight(big)
  );

  color: fnColor(text-gray);

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.datalist__svg {
  @include position($top: 5px, $left: 73%);
  fill: fnColor(secondory);
  transform: rotate(90deg);
}

.datalist {
  @include position($position: relative);

  @include mq(tablet) {
    display: none;
  }
}
