.hero {
  padding: 20px 0;
  @media screen and(min-width:768px) {
    height: 500px;
    padding: 30px 0 40px 0;
  }

  @media screen and(min-width:1280px) {
    height: 600px;
  }
}

.hero__container {
  @media screen and(max-width:768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.hero__title {
  position: relative;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.9;
  width: 300px;
  margin-bottom: 28px;
  color: #fe7031;

  @media screen and(min-width:768px) {
    width: 345px;
    font-size: 26px;
    line-height: 1.6;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  @media screen and(min-width:1280px) {
    font-size: 52px;
    line-height: 1.53;
    width: 688px;
  }
}

.hero__picture {
  margin: 0;
  position: relative;
}

.hero__img {
  min-width: 300px;
  @media screen and(min-width:768px) {
    position: absolute;
    min-width: 336px;
    top: -175px;
    left: 378px;
  }

  @media screen and(min-width:1280px) {
    min-width: 501px;
    top: -270px;
    left: 750px;
  }
}

.hero__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
  margin-top: 28px;
  margin-bottom: 20px;
  opacity: 0.8;
  text-align: center;
  color: #000000;
  width: 280px;

  @media screen and(min-width:768px) {
    width: 300px;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: start;
    color: #202025;
  }

  @media screen and(min-width:1280px) {
    width: 350px;
    font-size: 18px;
    line-height: 1.55;
  }
}

.hero__list {
  display: none;

  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 325px;
  }

  @media screen and(min-width:1280px) {
    width: 520px;
  }
}

.hero__item {
  &:not(:last-child) {
    margin-right: 1px;
  }
}

.hero__btn {
  border: 0;
  margin: 0;
  background-color: transparent;
  padding: 0;
  width: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #5f6775;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  &:hover,
  &:focus {
    color: #fe7031;
  }

  @media screen and(min-width: 768px) {
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);

    &:hover,
    &:focus {
      text-shadow: 0px 3px 5px rgba(95, 103, 117, 0.675);
      -webkit-text-stroke-width: 1.1px;
      -webkit-text-stroke-color: #5f6775;
      -webkit-text-fill-color: #fe5031;
      transform: scale(1.1);
    }
  }

  @media screen and(min-width: 1280px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    width: 40px;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);

    &:hover,
    &:focus {
      text-shadow: 0px 4px 7px rgba(95, 103, 117, 0.675);
      -webkit-text-stroke-width: 1.6px;
      -webkit-text-stroke-color: #5f6775;
      -webkit-text-fill-color: #fe5031;
      transform: scale(1.5);
    }
  }
}

.datalist__input {
  body.light-theme & {
    background: #fff;
  }

  body.dark-theme & {
    background: #202025;
  }

  font-weight: 700;
  font-size: 16px;
  line-height: 135%;
  padding: 6px 10px;
  height: 34px;
  width: 93px;
  border: 1px solid #fe7031;
  color: #fe7031;
  outline: none;
  border-radius: 4px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

datalist {
  width: 93px;
  height: 84px;
  border: 1px solid #fe7031;
  border-radius: 4px;
  overflow-y: scroll;
  padding: 6px 10px;
}

.datalist__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

option {
  font-weight: 700;
  font-size: 10px;
  line-height: 1.5;
  color: #5f6775;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.datalist__svg {
  fill: #fe7031;
  position: absolute;
  transform: rotate(90deg);
  top: 5px;
  left: 73%;
}

.datalist {
  position: relative;
  @media screen and(min-width:768px) {
    display: none;
  }
}
